* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}



.header {
    height: 100px;
    width: 1600px;
    background-color: #ffffff;
    border: 1px solid #ececec;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header_left,
.header_form,
.header_right {
    width: 800px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.header_left {
    margin-left: 227px;
}

.logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 27px;
    line-height: 32px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #222222;
}

.logo_img {
    margin-right: 13px;
}

.header_browse {
    border: 1px solid #d9dee1;
    width: 86px;
    height: 38px;
    text-align: center;
    line-height: 38px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #222222;
}

.header_form {
    margin-left: 37px;
}

.input_search {
    border: 1px solid #e6e6e6;
    background-color: #ffffff;
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    width: 280px;
    height: 38px;
    float: left;

}

.input_submit {
    width: 36px;
    height: 39px;
    border: 1px solid #e6e6e6;
    border-radius: 0px 3px 3px 0px;
    background: url(img/p.png) no-repeat 50% 50%;
    float: right;
}

.card {
    margin: 0 26px 0 175px;
}

.myacc {
    background-color: #f16d7f;
    font-size: 15px;
    color: #ffffff;
    text-align: right;
    letter-spacing: 0.03em;
    line-height: 32px;
    padding-left: 19px;
    padding-right: 19px;
}

.myacc:hover {
    color: #212121;
    background-color: #f8c2e3;
}

.navbar {
    background-color: #ffffff;
}

.menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    list-style: none;
}

.menu_list {
    position: relative;
}

.menu_list:hover .mega-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.menu_list:hover .mega-box-last {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.menu_link {
    padding: 20px;
    display: block;
    font-weight: bold;
    color: #222222;
    line-height: 26px;
    text-transform: uppercase;
}

.mega-box {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    position: absolute;
    top: 55px;
    border: 1px solid #e8e8e8;
    display: none;
}

.mega-box::after {
    content: '';
    width: 12px;
    height: 12px;
    background-color: #fff;
    display: block;
    position: absolute;
    top: -7px;
    left: 33px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border-left: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
}

.mega-box-last {
    right: 0;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    position: absolute;
    top: 55px;
    border: 1px solid #e8e8e8;
    display: none;
}

.mega-box-last:after {
    left: auto;
    right: 53px;
    content: '';
    width: 12px;
    height: 12px;
    background-color: #fff;
    display: block;
    position: absolute;
    top: -7px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border-left: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
}

.mega-hading {
    font-size: 14px;
    color: #232323;
    letter-spacing: 0.03em;
    line-height: 32px;
    text-transform: uppercase;
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 8px;
}

.mega-item-box {
    width: 234px;
}

.mega-item-box:not(:last-child) {
    margin-right: 46px;
}

.mega-item {
    list-style-type: none;
}

.mega_link {
    font-size: 14px;
    color: #646464;
    text-align: right;
    letter-spacing: 0.03em;
    line-height: 28px;
    -webkit-transition: color .3s;
    transition: color .3s;
}

.mega_link:hover {
    color: #f16d7f;
}

.promo {
    height: 614px;
    width: 1600px;
    background-color: #e8e8e8;
    background-image: url(img/image_frame_84.png);
    background-repeat: no-repeat;
    background-position: center-51px;
}

.promo_content {
    margin-top: 224px;
    margin-left: 230px;
    float: left;
    border-left: 12px solid #f16d7f;
    padding-left: 12px;
}

.conteiner_text_block {
    width: 560px;
    height: 92px;
}

.promo_heading {
    font-size: 40px;
    font-weight: 900;
    color: #222222;
    letter-spacing: 1px;
    line-height: 55px;
}

.promo_heading_color {
    font-size: 40px;
    font-weight: 900;
    color: #f16d7f;
    letter-spacing: 1px;
    line-height: 33px;
}


.promo_heading_big {
    font-size: 60px;
    font-weight: 900;
    line-height: 46px;
    letter-spacing: 1.5px;
}

.goods {
    width: 1140px;
    height: 823px;
    margin-top: 98px;
    margin-left: 230px;
    display: flex;
}


.block_right {
    margin-left: 20px;
}

ul {
    list-style: none;
}

.goods_menu1 {
    position: relative;
    display: inline-block;
}

.offer1 {
    width: 155px;
    height: 82px;
    margin-top: 17px;
    margin-left: -561px;
    position: absolute;
    padding: 16px 20px 16px 20px;
    background-color: #ffffff;
}

.goods_menu2 {
    position: relative;
    display: inline-block;
    margin-top: 16px;
}

.offer2 {
    width: 205px;
    height: 82px;
    margin-top: -248px;
    position: absolute;
    padding: 16px 20px 16px 20px;
    background-color: #ffffff;
}

.goods_menu3 {
    position: relative;
    display: inline-block;
}

.offer3 {
    width: 142px;
    height: 82px;
    margin-top: -267px;
    position: absolute;
    padding: 16px 20px 16px 20px;
    background-color: #ffffff;
}

.goods_menu4 {
    position: relative;
    display: inline-block;
    margin-top: -22px;
}

.offer4 {
    width: 160px;
    height: 82px;
    margin-top: -546px;
    position: absolute;
    padding: 16px 20px 16px 20px;
    background-color: #ffffff;
}

.hot {
    font-size: 18px;
    line-height: 40px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #222222;
}

.hot_big {
    font-size: 30px;
    color: #f16d7f;
}

.featured_content {
    width: 348px;
    height: 51px;
    text-align: center;
    margin: 100px 678px 60px 348px;
}

.featured_heading_big {
    font-family: Lato;
    height: 20px;
    font-size: 30px;
    line-height: 54px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #222222;
}

.featured_heading {
    font-family: Lato;
    font-size: 14px;
    line-height: 54px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #9f9f9f;
}

.product-box {
    width: 1140px;
    padding: 0 229px 60px 232px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.product {
    width: 261px;
    position: relative;
    margin-bottom: 31px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -ms-border-radius: 20px;
    -moz-border-radius: 20px;
}

.product:hover {
    -webkit-box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.16);
}

.product:hover .product_img {
    -webkit-filter: brightness(40%);
    filter: brightness(40%);
}

.product:hover .product_add {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.product_img {
    width: 100%;
}

.product_content {
    padding: 19px 15px;
}

.product_name {
    font-size: 13px;
    color: #222222;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.product__price {
    font-size: 16px;
    font-weight: bold;
    color: #f16d7f;
    text-transform: uppercase;
    margin-top: 17px;
}

.product_add {
    font-size: 13px;
    font-weight: bold;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 8px 12px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    left: 70px;
    top: 97px;
    display: none;
}

.product_add:hover {
    -webkit-box-shadow: 0 0 5px #fff;
    box-shadow: 0 0 5px #fff;
    text-decoration: underline;
}

.product_cart {
    margin-right: 8px;
}

.button {
    font-family: Lato;
    font-size: 18px;
    line-height: 54px;
    font-weight: 700;
    text-align: center;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 2px;
    background-color: #f16d7f;
    width: 212px;
    height: 48px;
    display: block;
    letter-spacing: 0.025em;
    margin-left: 632px;
    color: #ffffff;
}

.button:hover {
    color: #212121;
    background-color: #f8c2e3;
}



.offer {
    width: 1140px;
    height: 529px;
    background: url(img/layer_38_1315.png);
    margin: 113px 231px auto 229px;
    display: flex;
}

.offer-left {}

.offer-left {
    width: 767px;
    height: 529px;
}

.promo_offer {
    font-family: Lato;
    font-size: 53.7px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #ffffff;
}

.promo_offer_color {
    font-family: Lato;
    font-size: 53.7px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #f16d7f;
}

.promo_offer_small {
    font-family: Lato;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.025em;
    font-size: 32.2px;
    color: #ffffff;
}

.conteiner_text_block_bottom {
    width: 307px;
    height: 78px;
    padding: 135px 0px 0px 39px;
}

.offer-right {
    width: 373px;
    height: 529px;
    background: #111111;
}


.text_block {
    height: 143px;
    display: inline-flex;
    justify-content: center;
    margin-top: 10px;
}

.delivery {
    margin-top: 48px;
    width: 45px;
    height: 32px;
}

.delivery-description h4 {
    width: 292px;
    height: 17px;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.025em;
    margin: 55px 0 0 2px;
    color: #fbfbfb;
}

.delivery-description h5 {
    width: 292;
    height: 58px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    letter-spacing: 0.025em;
    margin: 17px 0 0 2px;
    color: #fbfbfb;
}

.sales {
    height: 21px;
}

.Subscribe {
    width: 1600px;
    height: 438px;
    display: flex;
    background: url(img/layer_41_2195.png);
    margin: 97px 0 109px;
}

.subscribe-left {
    width: 799px;
    display: flex;
    border-right: 1px solid #ffffff;
}

.photo {
    width: 83px;
    height: 83px;
    margin: 111px 0 0 230px;
}

.my-contact {
    width: 799px;
    height: 260px;
    display: inline-flex;
    flex-wrap: wrap;
}

.my-text {
    width: 386px;
    height: 128px;
    margin: 123px 0 0 28px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 0.025em;
    color: #222224;
}

.my-text h4 {
    margin-top: 19px;
}

.my-text h6 {
    margin-top: -10px;
}

.my-text-full {
    width: 140px;
    height: 6px;
    margin: 20px 0 0 343px;
    display: inline-flex;
    justify-content: space-between;
}

.my-button {
    width: 38px;
    height: 4px;
    display: inline-block;
    background-color: #ffffff;
}

.my-button:hover {
    color: #212121;
    background-color: #f8c2e3;
}

.subscribe-right {
    width: 799px;
    display: flex;
    border-left: 1px solid #ffffff;

}

.slider {
    width: 1600px;
    height: 458px;
}

.footer {
    width: 1600px;
    height: 79px;
    margin-bottom: -79px;
    background-color: #e6e6e6;
}

.social {
    display: inline-flex;

    width: 1600px;
    height: 79px;
}

.all-right {
    width: 260px;
    display: inline-flex;
    align-items: center;
    margin-left: 228px;
}

.social-link {
    width: 32px;
    height: 32px;
    font-size: 32px;
    margin-left: 8px;
}

.social-links {
    display: inline-flex;
    align-items: center;
    margin-left: 690px;
}

.subscribe {
    width: 494px;
    height: 122px;
    display: flex;
    flex-direction: column;
}

.email {
    width: 290px;
    height: 41px;
    font-size: 24px;
    line-height: 10px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #222224;
    text-align: center;
    margin: 129px 85px 35px 142px;
}

.email h5 {
    font-size: 14px;
    line-height: 24px;
    text-transform: none;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #222224;
    text-align: center;
}

.subscribe_form {
    margin-left: 92px;
    display: inline-flex;
}

.input_Email {
    border: 1px solid #e6e6e6;
    background-color: #ffffff;
    color: ##e6e6e6;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    border-radius: 23px 0px 0px 23px;
    width: 282px;
    height: 46px;

}

.input_subscribe {
    width: 104px;
    height: 46px;
    border: 1px solid #e6e6e6;
    border-radius: 0px 23px 23px 0px;
    background: #f16d7f;
}
